/*
Theme Name: unite-child
Template: unite
*/

@import url("../unite/style.css");

.wp-image-59{
    height: 200px!important;
}

.filter_item button{
    width: 100%;
    text-align: left;
}
 
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background-color: #54397E;
    border-color: #54397E;
}

.filter_item:hover button{
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}
